services:
  supernode-{{ partition_id + 1 }}:
    image: flwr/supernode:{{ flwr_version | default("1.18.0") }}
    command:
      - --superlink
      - {{ superlink_ip | default("127.0.0.1") }}:9092
      - --clientappio-api-address
      - 0.0.0.0:9094
      - --isolation
      - process
      - --node-config
      - "partition-id={{ partition_id | default(0) }} num-partitions={{ num_partitions | default(1) }}"
      - --root-certificates
      - certificates/superlink-ca.crt
    secrets:
      - source: superlink-ca-certfile
        target: /app/certificates/superlink-ca.crt

  clientapp-{{ partition_id + 1 }}:
    image: ghcr.io/rona9488/clientapp:latest
    command:
      - --insecure
      - --clientappio-api-address
      - supernode-{{ partition_id + 1}}:9094
    volumes:
      - "../pyproject.flwr.toml:/app/pyproject.toml"
      - "{{ client_data_dir | default('./data') }}:/app/data"
      - "./global_models:/app/received_global_models"
      - "./client_checkpoints:/app/client_checkpoints"
    deploy:
      resources:
        limits:
          cpus: "2"
    stop_signal: SIGINT
    depends_on:
      - supernode-{{ partition_id + 1 }}
    ports:
      - {{ PROM_PORT }}:{{ PROM_PORT }}
    environment:
      - PROM_PORT={{ PROM_PORT }}
      - DATA_PATH=/app/data/data-{{ partition_id + 1 }}.csv

  streamlit-ui-{{ partition_id + 1 }}:
    image: ghcr.io/rona9488/streamlit-ui:latest

    command: ["ui_client.py", "--server.port={{ UI_PORT }}", "--server.address=0.0.0.0"]

    ports:
      - "{{ UI_PORT }}:{{ UI_PORT }}"

    volumes:
      - "./data:/app/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./global_models:/app/received_global_models"

    environment:
      - DATA_ID=data-{{ partition_id + 1 }}
    
    secrets:
      - source: superlink-ca-certfile
        target: /app/certificates/superlink-ca.crt

    depends_on:
      - clientapp-{{ partition_id + 1 }}

secrets:
  superlink-ca-certfile:
    file: ../superlink-certificates/ca.crt

